<div class="container">
 <div class ="col-sm-8 col-sm-offset-2">
  <form>
   <div class="form group">
    <label>title</label>
     <input type="text" name="title"  class="form contronl" ng-model="vm.title">
   </div>
   <div class="form control">
    <label>address</label>
     <input type="text" name="address" class="form control" ng-model="vm.address">
   </div>  
   <div class="form group">
    <label>email</label>
     <input type="text" name="email" class="form control" ng-model="vm.email">
   </div>
  </form>
 </div>
</div>


